heigt, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.left-column{
    width: 65%;
    position: relative;
}

.right-column{
    width: 35%;
    margin-top: 60px;
}

.left-column img{
    width: 80%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    margin-top: 100px;
    transition: all 0.3s ease;
}

.left-column img.active{
    opacity: 1;
}

.product-description{
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description span{
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}
.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

/* Size config */
.product-size{
    margin-bottom: 30px;
}

.size-choose div{
    display: inline-block;
}

.size-choose input[type="radio"]{
    display: none;
}

.size-choose input[type="radio"] + label{
    display: inline-block;
    border-radius: 15%;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
    line-height: 60px;
    border: 2px solid #19191a;
    color: #19191a;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.size-choose input[type="radio"] + label:hover{
    border-color: #17e666;
    color: #17e666;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0,0.33);
}

.size-choose input[type="radio"]:checked + label{
    border-color: #17e666;
    color: #17e666;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0,0.33);
}

/* Height config*/
.height-choose{
    margin-bottom: 30px;
}

.height-choose div{
    display: inline-block;
}

.height-choose input[type="radio"]{
    display: none;
}

.height-choose input[type="radio"] + label{
    display: inline-block;
    border-radius: 15%;
    width: 75px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
    line-height: 60px;
    border: 2px solid #19191a;
    color: #19191a;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.height-choose input[type="radio"] + label:hover{
    border-color: #17e666;
    color: #17e666;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0,0.33);
}

.height-choose input[type="radio"]:checked + label{
    border-color: #17e666;
    color: #17e666;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0,0.33);
}

.height-config{
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.height-config a{
    color: #358ED7;
    text-decoration: none; 
    font-size: 12px;
    position:relative;
    margin: 10px 0;
    display: inline-block;
}

.height-config a:before {
    content: "?";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(15, 132, 228, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
}

/* Product Price */
.product-price{
    display: flex;
    align-items: center;
}

.product-price span{
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.cart-btn{
    display: inline-block;
    background-color: #25aed8;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s ease;
}

.cart-btn:hover{
    background-color: #0066ff;
}

/* Responsive */
@media (max-width: 940px) {
    .container{
        flex-direction: column;
        margin-top: 60px;
    }

    .left-column,
    .right-column{
        width: 100%;
    }

    .left-column img{
        width: 300px;
        right: 0;
        top: -65px;
        left: initial;
    }
}

@media (max-width: 535px) {
    .left-column img{
        width: 220px;
        top: -85px;
    }
}